* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  color: #0b0b0b;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: black;
}

.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 64px;
}

.btn {
  margin-top: 20px;
  padding: 14px 32px;
  background: black;
  color: white;
  text-decoration: none;
  border: none;
}

.catalog, .about {
  padding: 60px 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.card {
  border: 1px solid #eaeaea;
  padding: 20px;
  transition: 0.3s;
  color: black;
  text-decoration: none;
}

.card:hover {
  transform: scale(1.05);
}

.product {
  display: flex;
  gap: 40px;
  padding: 60px;
}

.product img {
  width: 300px;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .product {
    flex-direction: column;
  }
  .hero h1 {
    font-size: 42px;
  }
}
